/DATA_Signal_X_PSI2S_MLsel.root
/renameBranches.C
/renameTree.C

*.root
*.txt
*.pdf
*.log
*.tex
*.log
*.aux
*.out
*.err
*.sub

selectionER/.venv*/
selectionER/.envs/
selectionER/condor_logs/
selectionER/xgb_outputs/
selectionER/archived_optuna_runs/
selectionER/*.json
__pycache__/
*/__pycache__/
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm
.envs/
