/DATA_Signal_X_PSI2S_MLsel.root
/renameBranches.C
/renameTree.C

*.root
*.txt
*.pdf
*.log
*.tex
*.log
*.aux
*.out
*.err
*.sub

X_pb23_v36_fid3_7v7_rw0_xgb_v1
X_pb23_v7_fid5_9v4_rw0_xgb_v1/

selectionER/.venv*/
selectionER/.envs/
selectionER/condor_logs/
selectionER/xgb_outputs/
selectionER/archived_optuna_runs/
selectionER/*.json
selectionER/ML_xgboost/.envs/
selectionER/ML_xgboost/condor_logs/
selectionER/ML_xgboost/xgb_outputs/
selectionER/ML_xgboost/scored_samples/
selectionER/ML_xgboost/archived_optuna_runs/
selectionER/ML_xgboost/*.json
!selectionER/ML_xgboost/submit_*.sub
selectionER/ML_tmva/condor_logs/
selectionER/ML_tmva/tmva_outputs/
selectionER/ML_tmva/scored_samples/
!selectionER/ML_tmva/submit_*.sub
selectionER/ML_pytorch/condor_logs/
selectionER/ML_pytorch/nn_outputs/
selectionER/ML_pytorch/scored_samples/
!selectionER/ML_pytorch/submit_*.sub
selectionER/skims/
selectionER/feature_study/
selectionER/.ML_sync_backups/
__pycache__/
*/__pycache__/
*.py[cod]
*.orig
*.rej
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm
.envs/
